<header class='flex-grid flex-grid-center'>
  <div class="grid-flex-center social grid-flex">
      <a target="_blank" rel="noreferrer" href="https://www.instagram.com/dhaivath_lal/"> <i class="icon fa-brands fa-instagram"></i></a>
      <a target="_blank" rel="noreferrer" href="https://www.facebook.com/dhaivath.lal"> <i class="icon fa-brands fa-facebook"></i></a>
      <a target="_blank" rel="noreferrer" href="https://twitter.com/DhaivathLal"> <i class="icon fa-brands fa-twitter"></i></a>
      <a target="_blank" rel="noreferrer" href="https://github.com/the-dev-d/"> <i class="icon fa-brands fa-github"></i></a>
  </div>
  <div class="mainface grid grid-center" style="align-content:flex-end;margin-bottom: 5%" >
      <div class="floater"></div>
      <img *ngIf="image" src={{image.src}} alt="my pic" />
      <h3>Hi.. I'm Dhaivath</h3>
  </div>
  <div class="text"> <h4> &nbsp; ----THE DEV-D</h4> </div>
</header>
