<a class="segment-nav" (click)="items[0].getFocus()" ><i class="fa-solid fa-house"></i> </a>
<a class="segment-nav" (click)="items[1].getFocus()" > <i class="fa-solid fa-address-card"></i> </a>
<a class="segment-nav" (click)="items[2].getFocus()" > <i class="fa-solid fa-microchip"></i> </a>
<a class="segment-nav" (click)="items[3].getFocus()" style="border: 1px solid rgba(255, 255, 255, 0.349) ; border-width: 0px 1px 0px 1px;" > <i class="fa-solid fa-copyright"></i> </a>
<button (click)="beta()" class="fa-solid fa-circle-chevron-down" style="transform: rotate(90deg) scale(1.5); margin: 1rem;"></button>
<button (click)="beta()" id="fullscreen" class="fa-solid fa-expand" style="margin: 1rem;"></button>
