.flex-grid {
  display: flex;
}
.flex-grid-center {
  align-items: center;
  justify-content: center;
}

.grid-flex {
  display: grid;
}
.grid-flex-center {
  align-content: center;
  justify-items: center;
}

.grid {
  display: grid;
}
.grid-center {
  place-items: center;
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.tile {
  width: 90vw;
  height: auto;
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-top: 1rem;
}
.invert {
  background-color: var(--primary);
  color: var(--bg);
}
