/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
  --bg: #18183b;
  --bg-acc : #12122c;
  --bg--acc-lt: #1e1e61;
  --primary : #4db5ff;
  --color:rgb(255, 255, 255);
  --border : #4db5ff73;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18183b;
  color: white;
}
